body {
    background-color: #ebebeb;
    color: #322625;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #322625;
    padding: 10px;
    text-align: left;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #c0e3e5;
}
